{% load static %}
{% include 'html/components/dashboard_nav.html' %}

            <div class="content">
                <h2 class="fs-lg fw-medium me-auto">
                    Add New Book
                </h2>
                <!-- BEGIN: Top Bar -->
                
                <!-- END: Top Bar -->
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="pos intro-y grid columns-12 gap-5 mt-5">
                    
                        <!-- BEGIN: Post Content -->
                        <div class="intro-y g-col-12 g-col-lg-8">
                            <div class="mt-3">
                                <label for="post-form-7" class="form-label">Book Name</label>
                                <input name="name" type="text" class="intro-y form-control py-3 px-4 box border-white dark-border-dark-3 pe-10 placeholder-theme-13" placeholder="Book Name">
                            </div>

                            <div class="post intro-y overflow-hidden box mt-5">

                            <div class="post__content tab-content">
                                <div class="tab-pane p-5 fade show active" id="content" role="tabpanel" aria-labelledby="content-tab">
                                
                                <div class="mt-3">
                                    <label for="post-form-7" class="form-label">Write Book short details:</label>
                                    <input name="short_details" type="text" class="intro-y form-control py-3 px-4 box border-white dark-border-dark-3 pe-10 placeholder-theme-13" placeholder="Book Discount Price">
                                </div>

                                
                                <div class="mt-5 border border-gray-200 dark-border-dark-5 rounded-2 p-5">
                                        <div class="fw-medium d-flex align-items-center border-bottom border-gray-200 dark-border-dark-5 pb-5"> <i data-feather="chevron-down" class="w-4 h-4 me-2"></i> Write book description </div>
                                        <div class="mt-5">
                                            <textarea name="description" class="editor">
                                                
                                            </textarea>
                                        </div>
                                </div>
                                        <div class="border border-gray-200 dark-border-dark-5 rounded-2 p-5 mt-5">
                                            
                                            <div class="mt-5">
                                             
                                                <div class="mt-3">
                                                    <label class="form-label">Upload Image</label>
                                                    <div class="border-2 border-dashed dark-border-dark-5 rounded-2 pt-4">
                                                        <div class="d-flex flex-wrap px-4">
                                                            <div class="w-24 h-24 position-relative image-fit mb-5 me-5 cursor-pointer zoom-in">
                                                                <img id="preview-image" class="rounded-2" alt="Rubick Bootstrap HTML Admin Template" src="#">
                                                            </div>
                                                        </div>
                                                        <div class="px-4 pb-4 d-flex align-items-center cursor-pointer position-relative dark-text-gray-500">
                                                            <i data-feather="image" class="w-4 h-4 me-2"></i> <span class="text-theme-1 dark-text-theme-10 me-1">Upload a file</span> or drag and drop 
                                                            <input onchange="previewImage(event)" name="image" type="file" class="w-full h-full top-0 start-0 position-absolute opacity-0">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END: Post Content -->
                        <!-- BEGIN: Post Info -->
                        <div class="g-col-12 g-col-lg-4">
                            <div class="intro-y box p-5">
                                    <div class="mt-3">
                                        <label class="form-label">Written By:</label>
                                        <select  name="author"  data-placeholder="Search Author" class="tom-select w-full" id="post-form-4" >
                                            <option value="Select this book author" selected disabled hidden>Select this book author</option>
                                            {% for author in authors %}
                                                <option value="{{author.id}}">{{author.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="mt-3">
                                        <label class="form-label">Category:</label>
                                        <select name="category" data-placeholder="Search Author" class="tom-select w-full" id="post-form-3" >
                                            <option value="Select this book author" selected disabled hidden>Select this book Category</option>
                                            {% for category in categorys %}
                                                <option value="{{category.id}}">{{category.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="mt-3">
                                        <label class="form-label">Format:</label>
                                        <select name="format" data-placeholder="Search format" class="tom-select w-full" id="post-form-1" >
                                            <option value="Select this book author" selected disabled hidden>Select this book format</option>
                                            {% for format in formats %}
                                                <option value="{{format.id}}">{{format.format}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                <div class="mt-3">
                                    <label for="post-form-2" class="form-label">Publication date:</label>
                                    <input name="date" type="date" class="form-control" id="post-form-2" data-single-mode="true">
                                </div>

                                <div class="mt-3">
                                    <label for="post-form-7" class="form-label">Book Code:</label>
                                    <input name="book_code" type="text" class="intro-y form-control py-3 px-4 box border-white dark-border-dark-3 pe-10 placeholder-theme-13" placeholder="Book Code">
                                </div>
                                <div class="mt-3">
                                    <label for="post-form-7" class="form-label">Language:</label>
                                    <input name="language" type="text" class="intro-y form-control py-3 px-4 box border-white dark-border-dark-3 pe-10 placeholder-theme-13" placeholder="Book stock">
                                </div>
                                <div class="mt-3">
                                    <label for="post-form-7" class="form-label">Book Price:</label>
                                    <input name="price" type="number" class="intro-y form-control py-3 px-4 box border-white dark-border-dark-3 pe-10 placeholder-theme-13" placeholder="Book Price">
                                </div>

                                <div class="mt-3">
                                    <label for="post-form-7" class="form-label">Discount Price:</label>
                                    <input name="discount_price" type="number" class="intro-y form-control py-3 px-4 box border-white dark-border-dark-3 pe-10 placeholder-theme-13" placeholder="Book Discount Price">
                                </div>

                                <div class="mt-3">
                                    <label for="post-form-7" class="form-label">Total Stock:</label>
                                    <input name="stock" type="number" class="intro-y form-control py-3 px-4 box border-white dark-border-dark-3 pe-10 placeholder-theme-13" placeholder="Book stock">
                                </div>


                                <div class="mt-3">
                                    <label for="post-form-7" class="form-label">Total page:</label>
                                    <input name="page" type="number" class="intro-y form-control py-3 px-4 box border-white dark-border-dark-3 pe-10 placeholder-theme-13" placeholder="Book stock">
                                </div>

                                

                            </div>
                        </div>
                        <!-- END: Post Info -->
                        <div class="intro-y d-flex flex-column flex-sm-row align-items-center mt-8">
                            
                            <div class="w-full w-sm-auto d-flex mt-4 mt-sm-0">
                                
                                <button type="button" class="btn box text-gray-700 dark-text-gray-300 me-2 d-flex align-items-center ms-auto ms-sm-0"> Cencel </button>
                             
                                    <button class="dropdown-toggle btn btn-primary shadow-md d-flex align-items-center" aria-expanded="false"> Save </button>
                                    
                               
                            </div>
                        </div>
                    </div>
                </form>
                
                
            </div>
      

        {% include 'html/components/dashboard_footer.html' %}
