{% load static %}
{% include 'html/components/dashboard_nav.html' %}

<div class="content">

<div class="intro-y d-flex flex-column flex-sm-row align-items-center pt-8 pb-8">
<h1 class="fs-lg fw-medium me-auto">Edit Offer Banner</h1>
</div>

<!-- BEGIN: Post Content -->


<form action="{% url 'dashboard:on_sale_banner' on_offer.id %}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <h2 class="mb-2 fs-lg  me-auto">Edit Title</h2>
        <input name="title" type="text" class="intro-y form-control py-3 px-4 box border-white dark-border-dark-3 pe-10 placeholder-theme-13" value="{{ on_offer.title }}">
      </div>
      <div class="col">
        <h2 class="mb-2 fs-lg  me-auto">Enter discount %</h2>
        <input name="discount" type="number" class="intro-y form-control py-3 px-4 box border-white dark-border-dark-3 pe-10 placeholder-theme-13" value="{{ on_offer.discount }}">
      </div>
    </div>
    <div class="w-full w-sm-auto d-flex pt-6 mt-sm-0 d-flex">
        <a href="{% url 'dashboard:CustomAdmin' %}"><button type="button" class="btn box text-gray-700 dark-text-gray-300 me-2 d-flex ms-auto ms-sm-0"> Cencel </button></a>
        <button type="submit" class="dropdown-toggle btn btn-primary shadow-md d-flex" aria-expanded="false"> Save </button>
    </div>
  </form>

</div>


{% include 'html/components/dashboard_footer.html' %}

