{% load static %}
{% include 'html/components/dashboard_nav.html' %}
<div class="grid columns-12 gap-6">
    <div class="g-col-12 mt-6">
        <div class=" my-5 p-5 bg-light rounded">
            <div class="row align-items-center">
              
                <div class="col-md-8">
                    <h1 class="lead mb-0 text-uppercase" style="font-size: 24px; color:#1c3faa; font-weight: 400;">{{categorys.name}}  {{author.name}} all BOOKS</h1>
                </div>
                

                <div class="col-md-3 d-flex justify-content-end">
                    <a href="{% url 'dashboard:add_book' %}">
                        <button type="button" class="btn btn-primary btn-lg">ADD BOOK</button>
                    </a>
                </div>
                <div class="col-md-1 d-flex justify-content-end">
                    <a href="{% url 'dashboard:book_category_page' %}">
                        <button type="button" class="btn btn-primary btn-lg">BACK</button>
                    </a>
                </div>

                
            </div>
        </div>
        <div class="intro-y overflow-auto overflow-lg-visible mt-10 mt-sm-0">
            <table class="table table-report mt-sm-2">
                <thead>
                    <tr>
                        <th class="text-center text-nowrap text-uppercase"></th>
                        <th class=" text-nowrap text-uppercase">IMAGES</th>
                        <th class="text-center text-nowrap text-uppercase">name</th>
                        <th class="text-center text-nowrap text-uppercase">Category</th>
                        <th class="text-center text-nowrap text-uppercase"> price</th>
                        <th class="text-center text-nowrap text-uppercase">discount price</th>
                      
                        <th class="text-center text-nowrap text-uppercase">In Stocks</th>
                        <th class="text-center text-center text-nowrap text-uppercase">ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    
{% for book in books %}

        <tr class="intro-x">
            <td class="text-center">{{ forloop.counter }}</td>
            <td class="w-40">
                <div class="d-flex">
                    <div class="w-10 h-10 image-fit zoom-in">
                        <img alt="{{ book.name }}" class="tooltip rounded-circle" src="{{ book.image.url }}" title="Uploaded at 16 July 2021">
                    </div>
                </div>
            </td>
            <td class="text-center">
                <a href="#" class="fw-medium text-nowrap">{{ book.name }}</a> 
            </td>
            <td class="text-center">
                <a href="#" class="fw-medium text-nowrap">{{ book.category }}</a> 
            </td>
            <td class="text-center">
                <a href="#" class="fw-medium text-nowrap">{{ book.price }}</a> 
            </td>
            <td class="text-center">
                <a href="#" class="fw-medium text-nowrap">{{ book.discount_price }}</a> 
            </td>
            <td class="text-center">
                <a href="#" class="fw-medium text-nowrap">{{ book.stock }}</a> 
            </td>
            <td class="table-report__action w-56">
                <div class="d-flex justify-content-center align-items-center">
                    <a class="d-flex align-items-center me-3" href="#"> 
                        <i data-feather="check-square" class="w-4 h-4 me-1"></i> Edit 
                    </a>
                    <a class="delete d-flex align-items-center text-theme-6" href="#"> 
                        <i data-feather="trash-2" class="w-4 h-4 me-1"></i> Delete 
                    </a>
                </div>
            </td>
        </tr>
{% empty %}

    <td colspan="12" class="text-center text-uppercase text-nowrap" style="font-size: 20px; color: red; padding-top:20px; padding-bottom: 20px;">No Book Available</td>

{% endfor %}

                </tbody>
            </table>
        </div>
        
    </div>
    <!-- END: Weekly Top Products -->
</div>
</div>

</div>

{% include 'html/components/dashboard_footer.html' %}


<!-- <tr class="intro-x">
    <td class="w-40">
        <div class="d-flex">
            <div class="w-10 h-10 image-fit zoom-in">
                <img alt="Rubick Bootstrap HTML Admin Template" class="tooltip rounded-circle" src="dist/images/preview-2.jpg" title="Uploaded at 15 January 2021">
            </div>
            <div class="w-10 h-10 image-fit zoom-in ms-n5">
                <img alt="Rubick Bootstrap HTML Admin Template" class="tooltip rounded-circle" src="dist/images/preview-5.jpg" title="Uploaded at 16 January 2021">
            </div>
            <div class="w-10 h-10 image-fit zoom-in ms-n5">
                <img alt="Rubick Bootstrap HTML Admin Template" class="tooltip rounded-circle" src="dist/images/preview-9.jpg" title="Uploaded at 22 July 2021">
            </div>
        </div>
    </td>
    <td>
        <a href="index.html" class="fw-medium text-nowrap">Dell XPS 13</a> 
        <div class="text-gray-600 fs-xs text-nowrap mt-0.5">PC &amp; Laptop</div>
    </td>
    <td class="text-center">66</td>
    <td class="w-40">
        <div class="d-flex align-items-center justify-content-center text-theme-6"> <i data-feather="check-square" class="w-4 h-4 me-2"></i> Inactive </div>
    </td>
    <td class="table-report__action w-56">
        <div class="d-flex justify-content-center align-items-center">
            <a class="d-flex align-items-center me-3" href="index.html"> <i data-feather="check-square" class="w-4 h-4 me-1"></i> Edit </a>
            <a class="d-flex align-items-center text-theme-6" href="index.html"> <i data-feather="trash-2" class="w-4 h-4 me-1"></i> Delete </a>
        </div>
    </td>
</tr>
<tr class="intro-x">
    <td class="w-40">
        <div class="d-flex">
            <div class="w-10 h-10 image-fit zoom-in">
                <img alt="Rubick Bootstrap HTML Admin Template" class="tooltip rounded-circle" src="dist/images/preview-13.jpg" title="Uploaded at 7 July 2022">
            </div>
            <div class="w-10 h-10 image-fit zoom-in ms-n5">
                <img alt="Rubick Bootstrap HTML Admin Template" class="tooltip rounded-circle" src="dist/images/preview-6.jpg" title="Uploaded at 7 December 2021">
            </div>
            <div class="w-10 h-10 image-fit zoom-in ms-n5">
                <img alt="Rubick Bootstrap HTML Admin Template" class="tooltip rounded-circle" src="dist/images/preview-1.jpg" title="Uploaded at 13 February 2021">
            </div>
        </div>
    </td>
    <td>
        <a href="index.html" class="fw-medium text-nowrap">Nikon Z6</a> 
        <div class="text-gray-600 fs-xs text-nowrap mt-0.5">Photography</div>
    </td>
    <td class="text-center">95</td>
    <td class="w-40">
        <div class="d-flex align-items-center justify-content-center text-theme-6"> <i data-feather="check-square" class="w-4 h-4 me-2"></i> Inactive </div>
    </td>
    <td class="table-report__action w-56">
        <div class="d-flex justify-content-center align-items-center">
            <a class="d-flex align-items-center me-3" href="index.html"> <i data-feather="check-square" class="w-4 h-4 me-1"></i> Edit </a>
            <a class="d-flex align-items-center text-theme-6" href="index.html"> <i data-feather="trash-2" class="w-4 h-4 me-1"></i> Delete </a>
        </div>
    </td>
</tr>
<tr class="intro-x">
    <td class="w-40">
        <div class="d-flex">
            <div class="w-10 h-10 image-fit zoom-in">
                <img alt="Rubick Bootstrap HTML Admin Template" class="tooltip rounded-circle" src="dist/images/preview-3.jpg" title="Uploaded at 19 September 2020">
            </div>
            <div class="w-10 h-10 image-fit zoom-in ms-n5">
                <img alt="Rubick Bootstrap HTML Admin Template" class="tooltip rounded-circle" src="dist/images/preview-3.jpg" title="Uploaded at 21 May 2021">
            </div>
            <div class="w-10 h-10 image-fit zoom-in ms-n5">
                <img alt="Rubick Bootstrap HTML Admin Template" class="tooltip rounded-circle" src="dist/images/preview-1.jpg" title="Uploaded at 30 December 2021">
            </div>
        </div>
    </td>
    <td>
        <a href="index.html" class="fw-medium text-nowrap">Nikon Z6</a> 
        <div class="text-gray-600 fs-xs text-nowrap mt-0.5">Photography</div>
    </td>
    <td class="text-center">176</td>
    <td class="w-40">
        <div class="d-flex align-items-center justify-content-center text-theme-9"> <i data-feather="check-square" class="w-4 h-4 me-2"></i> Active </div>
    </td>
    <td class="table-report__action w-56">
        <div class="d-flex justify-content-center align-items-center">
            <a class="d-flex align-items-center me-3" href="index.html"> <i data-feather="check-square" class="w-4 h-4 me-1"></i> Edit </a>
            <a class="d-flex align-items-center text-theme-6" href="index.html"> <i data-feather="trash-2" class="w-4 h-4 me-1"></i> Delete </a>
        </div>
    </td>
</tr> -->

