{% extends '../base.html' %}
{% load static %}
{% block main_content %}

<section class="space-bottom-3">
<div class="container-fluid px-3 px-md-5 px-xl-8d75">
<div class="row">

<div class="col-xl-12">
<div class="mb-lg-5 mb-xl-0">
<div class="bg-img-hero img-fluid mb-5" style="background-image: url({% static 'assets/img/1076x761/img1.jpg' %});">
<div class="js-slick-carousel u-slick" data-arrows-classes="d-none d-lg-block u-slick__arrow u-slick__arrow--v2 u-slick__arrow-centered--y" data-arrow-left-classes="flaticon-back u-slick__arrow-inner u-slick__arrow-inner--left ml-lg-0" data-arrow-right-classes="flaticon-next u-slick__arrow-inner u-slick__arrow-inner--right mr-lg-0">
{% for banner in banners %}

{% if banner.is_active %}
<div>
  <div class="row mx-2 mx-md-4 mx-lg-7 align-items-center min-height-600">
  
  <div class="col-md-7 col-wd-6">
  <div class="media d-block d-lg-flex">
  <div class="media-body align-self-center mb-4 mb-lg-0 text-center">
  <p class="banner__pretitle text-uppercase text-gray-400 font-weight-bold mb-2" data-scs-animation-in="fadeInUp" data-scs-animation-delay="200">{{ banner.title }}</p>
  <h2 class="font-size-10 mb-3 pb-1" data-scs-animation-in="fadeInUp" data-scs-animation-delay="300">
  <!-- <span class=" font-weight-bold d-block">{{ banner.title }}</span> -->
  <span class="hero__title-line-1 font-weight-normal d-block">{{ banner.description|safe }}</span>
  </h2>
  <a href="../shop/v6.html" class="banner_btn btn btn-wide bg-dark rounded-0 text-white" data-scs-animation-in="fadeInLeft" data-scs-animation-delay="400">Explore Now</a>
  </div>
  </div>
  </div>
  
  <div class="col-md-5 col-wd-6v" style="padding-left: 50px;" data-scs-animation-in="fadeInRight" data-scs-animation-delay="400">
  <img src="{{ banner.image.url }}" class="img-fluid" alt="image-description">
  </div>
  </div>
  </div>
{% endif %}

{% endfor %}

</div>
</div>
<div class="row row-cols-1 row-cols-md-2 mb-5 mb-lg-0">
<div class="col">
<div class="bg-primary p-3d25 mb-5 mb-md-0 min-height-300 d-flex position-relative">
<div class="border__1 d-flex align-items-center justify-content-center w-100">
{% for on_offer in on_offers %}
<div class="text-center px-2 py-8 px-md-0 py-md-0">
  <h6 class="font-weight-bold text-white mb-3">{{ on_offer.title }}</h6>
  <div class="text-lh-sm mb-3">
  <div class="font-size-7 text-white font-weight-bold">{{ on_offer.description|striptags }}</div>
  <span class="font-size-7 text-white font-weight-bold">or more.</span>
  </div>
  <div class="mb-4 mb-md-0">
  <a href="../shop/v6.html" class="stretched-link text-white h-border-bottom-white h6 font-weight-medium" tabindex="0">Start Shopping</a>
  </div>
  </div>
{% endfor %}

<div class="position-absolute bottom-0 left-0 ml-6 mb-1">
<i class="flaticon-delivery font-size-17 text-red-1"></i>
</div>
</div>
</div>
</div>
<div class="col">
<div class="bg-gray-780 p-3d25 mb-5 mb-md-0 min-height-300 d-flex position-relative">
<div class="border__1 d-flex align-items-center justify-content-center w-100">
  {% for sale_offer in sale_offers %}
  <div class="text-center">
    <h6 class="font-weight-bold text-white mb-0">{{ sale_offer.title }}</h6>
    <span class="font-weight-bold font-size-12 text-gray-260">{{ sale_offer.discount }}%</span>
    <div class>
    <a href="../shop/v6.html" class="stretched-link text-white h-border-bottom-white h6 font-weight-medium" tabindex="0">Shop now</a>
    </div>
    </div>
  {% endfor %}

</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</section>
<section class="space-bottom-3">
<header class="mb-4 container">
<h2 class="font-size-7 text-center">Featured Books</h2>
</header>
<div class="container">
<ul class="nav justify-content-md-center nav-gray-700 mb-5 flex-nowrap flex-md-wrap overflow-auto overflow-md-visible" id="featuredBooks" role="tablist">
<li class="nav-item mx-5 mb-1 flex-shrink-0 flex-md-shrink-1">
<a class="nav-link px-0 active" id="featured-tab" data-toggle="tab" href="home-v6.html#featured" role="tab" aria-controls="featured" aria-selected="true">Featured</a>
</li>
</ul>
<div class="tab-content" id="featuredBooksContent">
<div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab">
<ul class="products list-unstyled row no-gutters row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-wd-6 border-top border-left my-0">
  {% for book in books %}
  {% if book.featured == 1 %}
  <li class="product col">
    <div class="product__inner overflow-hidden p-3 p-md-4d875">
    <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
    <div class="woocommerce-loop-product__thumbnail">
    <a href="../shop/single-product-v6.html" class="d-block"><img src="{{book.image.url}}" class="img-fluid d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid" alt="image-description"></a>
    </div>
    <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
    <div class="text-uppercase font-size-1 mb-1 text-truncate"><a href="../shop/single-product-v6.html">{{book.format}}</a></div>
    <h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark"><a href="../shop/single-product-v6.html">{{book.name}}</a></h2>
    <div class="font-size-2  mb-1 text-truncate"><a href="../others/authors-single.html" class="text-gray-700">{{book.author}}</a></div>
    <div class="price d-flex align-items-center font-weight-medium font-size-3">
    <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>{{book.price}}</span>
    </div>
    </div>
    <div class="product__hover d-flex align-items-center">
    <a href="../shop/single-product-v6.html" class="text-uppercase text-dark h-dark font-weight-medium mr-auto" data-toggle="tooltip" data-placement="right" title="ADD TO CART">
    <span class="product__add-to-cart">ADD TO CART</span>
    <span class="product__add-to-cart-icon font-size-4"><i class="flaticon-icon-126515"></i></span>
    </a>
    <a href="../shop/single-product-v6.html" class="mr-1 h-p-bg btn btn-outline-primary border-0">
    <i class="flaticon-switch"></i>
    </a>
    <a href="../shop/single-product-v6.html" class="h-p-bg btn btn-outline-primary border-0">
    <i class="flaticon-heart"></i>
    </a>
    </div>
    </div>
    </div>
    </li>
  {% endif %}

  {% endfor %}

</ul>
</div>

</div>
</div>
</section>
<section class="space-bottom-3">
<div class="container">
<header class="text-center mb-5">
<h2 class="font-size-7 mb-0">Bestselling Books</h2>
</header>
<ul class="js-slick-carousel products list-unstyled my-0 border-right border-top border-left" data-arrows-classes="d-none d-lg-block u-slick__arrow u-slick__arrow-centered--y" data-arrow-left-classes="fas flaticon-back u-slick__arrow-inner u-slick__arrow-inner--left ml-lg-n10" data-arrow-right-classes="fas flaticon-next u-slick__arrow-inner u-slick__arrow-inner--right mr-lg-n10" data-slides-show="4" data-responsive="[{
                   &quot;breakpoint&quot;: 992,
                   &quot;settings&quot;: {
                     &quot;slidesToShow&quot;: 2
                   }
                }, {
                   &quot;breakpoint&quot;: 768,
                   &quot;settings&quot;: {
                     &quot;slidesToShow&quot;: 1
                   }
                }, {
                   &quot;breakpoint&quot;: 554,
                   &quot;settings&quot;: {
                     &quot;slidesToShow&quot;: 1
                   }
                }]">

{% for book in books %}
<li class="product">
<div class="product__inner overflow-hidden p-4d875">

  <div class="woocommerce-LoopProduct-link woocommerce-loop-product__link d-block position-relative">
    <div class="woocommerce-loop-product__thumbnail">
    <a href="../shop/single-product-v6.html" class="d-block"><img src="{{book.image.url}}" class="d-block mx-auto attachment-shop_catalog size-shop_catalog wp-post-image img-fluid" alt="image-description"></a>
    </div>
    <div class="woocommerce-loop-product__body product__body pt-3 bg-white">
    <div class="text-uppercase font-size-1 mb-1 text-truncate"><a href="../shop/single-product-v6.html">Paperback</a></div>
    <h2 class="woocommerce-loop-product__title product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark"><a href="../shop/single-product-v6.html">Until the End of Time: Mind, Matter...</a></h2>
    <div class="font-size-2  mb-1 text-truncate"><a href="../others/authors-single.html" class="text-gray-700">Jay Shetty</a></div>
    <div class="price d-flex align-items-center font-weight-medium font-size-3">
    <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>29</span>
    </div>
    <div class="product__rating d-flex align-items-center font-size-2">
    <div class="text-yellow-darker mr-2">
    <small class="fas fa-star"></small>
    <small class="fas fa-star"></small>
    <small class="fas fa-star"></small>
    <small class="far fa-star"></small>
    <small class="far fa-star"></small>
    </div>
    <div class>(3,714)</div>
    </div>
    </div>
    <div class="product__hover d-flex align-items-center">
    <a href="../shop/single-product-v6.html" class="text-uppercase text-dark h-dark font-weight-medium mr-auto">
    <span class="product__add-to-cart">ADD TO CART</span>
    <span class="product__add-to-cart-icon font-size-4"><i class="flaticon-icon-126515"></i></span>
    </a>
    <a href="../shop/single-product-v6.html" class="mr-1 h-p-bg border-0 btn btn-outline-primary">
    <i class="flaticon-switch"></i>
    </a>
    <a href="../shop/single-product-v6.html" class="h-p-bg border-0 btn btn-outline-primary">
    <i class="flaticon-heart"></i>
    </a>
    </div>
    </div>


</div>
</li>
{% endfor %}
</ul>
</div>
</section>
<section class="space-bottom-3">
<div class="container space-bottom-2">
<header class="mb-5 text-center">
<h2 class="font-size-7 mb-0">Biographies Books</h2>
</header>
<div class="js-slick-carousel u-slick products border" data-pagi-classes="text-center u-slick__pagination mt-7 position-absolute right-0 left-0" data-slides-show="3" data-responsive="[{
                   &quot;breakpoint&quot;: 992,
                   &quot;settings&quot;: {
                     &quot;slidesToShow&quot;: 2
                   }
                }, {
                   &quot;breakpoint&quot;: 768,
                   &quot;settings&quot;: {
                     &quot;slidesToShow&quot;: 1
                   }
                }, {
                   &quot;breakpoint&quot;: 554,
                   &quot;settings&quot;: {
                     &quot;slidesToShow&quot;: 1
                   }
                }]">
{% for book in books %}
  {% if book in biography_books %}
  <div class="product product__card border-right">
    <div class="media p-3 p-md-4d875">
    <a href="../shop/single-product-v6.html" class="d-block"><img src="{{book.image.url}}" alt="image-description"></a>
    <div class="media-body ml-4d875">
    <div class="text-uppercase font-size-1 mb-1 text-truncate"><a href="../shop/single-product-v6.html">{{book.name}}</a></div>
    <h2 class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2 h-dark"><a href="../shop/single-product-v6.html">{{book.short_details}}</a></h2>
    <div class="font-size-2 mb-1 text-truncate"><a href="../others/authors-single.html" class="text-gray-700">{{book.author}}</a></div>
    <div class="price d-flex align-items-center font-weight-medium font-size-3">
    <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>{{book.price}}</span>
    </div>
    </div>
    </div>
    </div>
  {% endif %}
{% endfor %}
</div>
</div>
</section>
<section class="space-bottom-3">
<div class="container">
<header class="text-center mb-5">
<h2 class="font-size-7 mb-0">Favorite Authors</h2>
</header>
<ul class="row rows-cols-5 no-gutters authors list-unstyled js-slick-carousel u-slick" data-slides-show="5" data-arrows-classes="u-slick__arrow u-slick__arrow-centered--y" data-arrow-left-classes="fas fa-chevron-left u-slick__arrow-inner u-slick__arrow-inner--left ml-lg-n10" data-arrow-right-classes="fas fa-chevron-right u-slick__arrow-inner u-slick__arrow-inner--right mr-lg-n10" data-responsive="[{
                    &quot;breakpoint&quot;: 1025,
                    &quot;settings&quot;: {
                        &quot;slidesToShow&quot;: 3
                    }
                }, {
                    &quot;breakpoint&quot;: 992,
                    &quot;settings&quot;: {
                        &quot;slidesToShow&quot;: 2
                    }
                }, {
                    &quot;breakpoint&quot;: 768,
                    &quot;settings&quot;: {
                        &quot;slidesToShow&quot;: 1
                    }
                }, {
                    &quot;breakpoint&quot;: 554,
                    &quot;settings&quot;: {
                        &quot;slidesToShow&quot;: 1
                    }
                }]">


{% for author in authors %}
<li class="author">
  <a href="../others/authors-single.html" class="text-reset">
  <img src="{{author.image.url}}" class="mx-auto mb-5 d-block rounded-circle" alt="image-description">
  <div class="author__body text-center">
  <h2 class="author__name h6 mb-0">{{author.name}}</h2>
  <div class="text-gray-700 font-size-2">{{ author.book_set.count }}</div>
  </div>
  </a>
  </li>
{% endfor %}





</ul>
</div>
</section>






{% endblock main_content %}